@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    color: #FFFFFF;
    width: 100%;
    height: 540px;
    background-size: cover;
    background-image: url("../images/header-bg-image.png");
    background-position: center;
}

.logo  {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: default;
    margin-top: 112px;
    margin-bottom: 22px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 0;
    padding: 0;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    color: inherit;
    transition: all 0.3s;
}

.sign-up {
    width: 92px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin-left: 20px;
}

.sign-up:active {
    transform: scale(0.9, 0.9);
}

.sign-up:hover {
    background-color: #FFFFFF;
    color: #FF4E50;
    
}

nav a:hover {
    color: #FF4E50;
}

.dreams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
}

.dreams h2 {
    max-width: 77%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 12px;
}

.dreams a {
    width: 90%;
    height: 43px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #FF4E50;
    border-radius: 30px;
    padding: 13px 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.dreams a:hover {
    color: #FF4E50;
    background-color: #FFFFFF;
}

.dreams a:active {
    transform: scale(0.9, 0.9);
}

.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    margin-top: 63px;
}

.partners ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 20px;
}

.partners li {
    max-width: 217px;
    max-height: 235px;
    margin-bottom: 32px;
}

.partners li:nth-child(4) {
    margin-bottom: 29px;
}

.partners h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
    margin-top: 16px;
    margin-bottom: 13px;
}

.partners p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #666666;
}

.partners a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF4E50;
    background-color: #FFFFFF;
    border: 2px solid #FF4E50;
    box-sizing: border-box;
    width: 87%;
    height: 40px;
    border-radius: 30px;
    transition: all 0.3s;
    margin-bottom: 72px;
}

.partners a:hover {
    background-color: #FF4E50;
    color: #FFFFFF;
}

.partners a:active {
    transform: scale(0.9, 0.9);
}

.img-block {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .header-container {
        justify-content: center;
        padding-top: 36px;
    }

    .header-container * {
        margin-top: 0;
    }

    header {
        height: 700px;
    }

    nav {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    .sign-up {
        width: 93px;
    }

    .dreams {
        max-width: 66%;
    }

    h1 {
        font-size: 52px;
        line-height: 63px;
        margin-top: 126px;
    }

    .dreams h2 {
        max-width: 100%;
        font-size: 24px;
        line-height: 28px;
        margin-top: 36px;
        margin-bottom: 33px;
    }

    .dreams a {
        width: 45%;
        height: 42px;
    }

    .partners h2 {
        margin-top: 67px;
    }
    
    .partners ul {
        flex-flow: row wrap;
        max-width: 61%;
        margin-top: 35px;
    }

    .partners li:nth-child(3), .partners li:nth-child(4) {
        margin-bottom: 38px;
    }

    .partners a {
        width: 25%;
        height: 42px;
    }
}

@media (min-width: 1440px) {
    .dreams {
        max-width: 35%;
    }

    .partners {
        max-width: 63%;
    }
    
    .partners h2 {
        margin-top: 65px;
    }

    .partners a {
        width: 21%;
    }

    .partners ul {
        max-width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 37px;
    }

    .partners li:nth-child(3):not, .partners li:nth-child(4):not {
        margin-bottom: 38px;
    }
}